<h1>Contact Info:</h1>
<h2><%= @contact.first_name%> <%= @contact.last_name%></h2>
<h4><%= @contact.email%></h4>
<h5><%= @contact.phone_number%></h5>
<a href="/contacts/<%= @contact.id %>/edit">Edit this </a>
